<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lab07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>359ECDACA0DA43A1A587D7E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569E1C94B0714B3BA7D2DE8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63AAA30A21DC48F393768699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D17370F9025E424684E3B63D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB09C82BC9DA410D9F425529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC73651D17B043B79B66A42D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
