<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AntTweakBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FireworksSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libs/AntTweakBar/lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03E3930BFB0E4C3E99982076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2121900FEACD4FD4B1BD822E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC734A24BAA415B8770D8AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF4F357029B451E8950677A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C47468A22C4949B0CD67DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A06FCF63B45344BAA80691CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89ADB05BA9E4E90949CC3E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFD79EB508CD41339C0472CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
